body{
    min-width: $min-body-width;
    &.nav-shown{
        overflow: hidden;
    }
    .form-control{
        border-bottom: solid 4px #acacca;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.nk{
    &-body{
        outline: none;
    }
    &-app{
        &-root{
            outline: none;
        }
    }
    &-main{
        position: relative;
        background: #fff;
    } 
    &-wrap{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #151868;
        border-radius: 30px;
    }
    &-content{
        background: #eeeef9;
        padding: $content-gap-y 4px;
        &-fs{
            min-height: calc(100vh - (#{$header-height} + #{$header-height}));
            display: flex;
            align-items: center;
        }
    }
}

@include media-breakpoint-up(sm){
    .nk{
        &-content{
            padding: ($content-gap-y + 8) $content-gap-x-sm;
            &-fluid{
                padding-left: 22px;
                padding-right: 22px;
            }
            margin: 10px;
            border-radius: 24px;
        }
    }
}
@include media-breakpoint-up(lg){
    .nk{
        &-content{
            &-lg {
                padding-top: ($content-gap-y * 1.5);
                padding-bottom: ($content-gap-y * 1.5);
            }
            &-fluid{
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
}
@media (min-width: 1660px){
    .nk-content{
        &-lg {
            padding-top: ($content-gap-y * 2.25);
            padding-bottom: ($content-gap-y * 2.25);
        }
        &-fluid{
            padding-left: 44px;
            padding-right: 44px;
        }
    }
}

// Content
.nk-content-body{
    flex-grow: 1;
}

.nk-wrap-nosidebar{
    .nk-content{
        padding: 0 !important;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #1f2476;
        border-radius: 30px;
    }
}