.auction{
    &-first{
        border-right: solid 1px #cacce5;
        min-height: calc(100vh - 56px);
        .auction-title{
            text-decoration: underline;
            font-size: 14px;
            margin-top: 30px;
            color: #b2b2ce;
        }
        &-block{
            .col-img{
                img{
                    padding: 60px 40px;
                }
            }
            .col-title{
                h5{
                    font-size: 24px;
                    font-weight: 900;
                    font-family: sans-serif;
                    text-align: center;
                    line-height: 1.7;
                    border-top: solid 3px #c1c1c1;
                    border-bottom: solid 3px #c1c1c1;
                }
                .upcomming{
                    color: #00004d;
                }
                .inprogress{
                    color: #54d3c2;
                }
            }
            .col-time{
                margin-top: 1rem;
                h6{
                    text-align: center;
                    font-style: italic;
                    color: #7f7fa6;
                }
                .time-block{
                    text-align: center;
                    .number{
                        font-size: 24px;
                        font-weight: 600;
                        font-family: sans-serif;
                        color: #54d3c2;
                        padding: 4px 11px;
                        border: solid 3px #7f7fa6;
                        margin: 10px 4px;
                        border-radius: 10px;
                    }
                    .semi{
                        color: #7f7fa6;
                        font-size: 28px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &-second{
        .companies-block{
            min-height: calc(100vh - 56px);
            border-right: solid 1px #cacce5;
            &-head{
                .title-companies{
                    font-size: 28px;
                    font-family: sans-serif;
                    color: #090b59;
                    line-height: 1.5;
                }
                .dropdown{
                    display: block;
                    a.btn{
                        display: inline-table;
                        text-align: left;
                        width: 100%;
                        background: #b2b2ce;
                        font-size: 10px;
                        padding: 4px 12px;
                        border-radius: 12px;
                        em{
                            font-size: 12px;
                        }
                        h6{
                            font-size: 12px;
                            color: #fff;
                            margin-left: 15px;
                        }
                    }
                    .link-list-opt a{
                        justify-content: space-between;
                    }
                }
            }
            .companies-scroll{
                overflow-y: auto;
                max-height: calc(100vh - 114px);
            }
            .companies-scroll.scroll-disable::-webkit-scrollbar{
                width: 0;
            }
			.auction-scroll{
				overflow-y: auto;
                max-height: 280px;
				margin-top: 16px;
				padding: 4px !important;
				padding-right: 20px !important;
			}

        }
    }
}