/// Misc
//////////////////////////

.clipboard-success-message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $success;
    background: rgba($white,.9);
    border-radius: $border-radius;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .clipboard-success &{
        opacity: 1;
    }
}

.search-bar {
    display: flex;
    .form-control {
        border-bottom-width: 1px;
        border-radius: 8px;
    }
    .refresh-button {
        background-color: #00004d;
        border-radius: 8px;
        margin-left: 12px;
    }
    .notification {
        margin-left: 12px;
        padding: 6px;
        font-size: 1.5rem;
    }

}
.chart-block {
    .portfolio-title{
        text-decoration: underline;
        font-size: 14px;
        margin-top: 30px;
    }

    .pie-chart{
        width: 200px;
        height: 200px;
        background: inherit;
        border-width: 0px;
    }
}

.chart-block::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 38%;
    height: 36%;
    border-left: 1px solid #c9cbe5;
}

.investment-block{
    .investment-title{
        font-size: 15px;
        font-weight: 600;
    }
    .investment-price{
        color: #54d3c2; 
        font-family: unset;
        display: flex;
        .currency-unit{
            font-size: 20px;
            padding: 10px 5px;
        }
        .total-price{
            font-size: 2.4rem;
        }
    }
}