/// Misc
//////////////////////////

.clipboard-success-message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $success;
    background: rgba($white,.9);
    border-radius: $border-radius;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .clipboard-success &{
        opacity: 1;
    }
}

.search-bar {
    display: flex;
    .form-control {
        border-bottom-width: 1px;
        border-radius: 8px;
    }
    .refresh-button {
        background-color: #00004d;
        border-radius: 8px;
        margin-left: 12px;
    }
    .notification {
        margin-left: 12px;
        padding: 6px;
        font-size: 1.5rem;
    }

}
.chart-block {
    position: relative;
    .portfolio-title{
        text-decoration: underline;
        font-size: 14px;
        margin-top: 30px;
        color: #b8b8d2;
    }

    .pie-chart{
        width: 200px;
        height: 200px;
        background: inherit;
        border-width: 0px;
    }
}

.chart-block::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 38%;
    height: 36%;
    border-left: 1px solid #c9cbe5;
}

.portfolio-block{
    border-right: solid 1px #c9cbe5;
    .porfolio-img{
        max-width: 200px;
        margin: 100px 20px;
    }
}

.investment-block{
    .investment-title{
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
        color: #7777a3;
    }
    .investment-price{
        color: #54d3c2; 
        font-family: unset;
        display: flex;
        .currency-unit{
            font-size: 20px;
            padding: 10px 5px;
        }
        .total-price{
            font-size: 2.4rem;
        }
    }
}

.company-block{
    .company-card-block{
        .title{
            font-size: 18px;
            margin-left: 24px;
        }
        .title_bidding, .title_tosign{
            color: #646cbb;
        }
        .title_topay{
            color: #00004d;
        }
        .title_toreturn{
            color: #374095;
        }
        .company-card{
            border-radius: 12px;
            .card-inner{
                display: inline-flex;
                padding: 0;
                .card-prev{
                    width: 32px;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
                .bidding{
                    background-color: #646cbb;
                }
                .tosign{
                    background-color: #646cbb;
                }
                .topay{
                    background-color: #00004d;
                }
                .toreturn{
                    background-color: #374095;
                }
                .card-body{
                    padding: 1rem;
                    .table{
                        thead{
                            tr:last-child{
                               th{
                                   border-bottom-width: 0px;
                               }     
                            }
                            .th{
                                
                                font-size: 12px;
                                color: #c7c7d8;
                            }
                        }
                        tbody{
                            tr{
                                .td-name{
                                    vertical-align: middle;
                                    font-size: 20px;
                                    color: #313377;
                                    font-weight: 600;
                                    small{
                                        font-size: 12px;
                                        color: #555997;
                                    }
                                }
                                .td-price{
                                    vertical-align: middle;
                                    color: #54D3C2;
                                    font-weight: 600;
                                    .unit{
                                        font-size: 14px;
                                        padding: 5px 3px;
                                        position: relative;
                                        top: -6px;
                                    }
                                    .price{
                                        font-size: 24px;
                                    }
                                }
                                .td-status{
                                    vertical-align: middle;
                                    .icon{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}